[Unit]
Description=BaGPipe-BGP server
After=syslog.target network.target

[Service]
Type=simple
User=neutron
ExecStart=/usr/bin/bagpipe-bgp --config-file /etc/neutron/bagpipe-bgp/bgp.conf
ExecStopPost=/usr/bin/bagpipe-bgp-cleanup
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
